---
layout: default
---

<article>
  <h1>Twisty Puzzle Guide</h1>

  <p class="subtitle">Guides to solving Twisty Puzzles</p>

  <div class="puzzles">
    {% for puzzle in site.data.puzzles %}
      <div class="puzzle">
        <h2>{{ puzzle.title }}</h2>
        <img src="{{ puzzle.image_url | relative_url }}" class="diagram" />
        <ul class="guide">
          {% for guide in puzzle.guides %}
              <a href="{{ guide.url | relative_url }}">{{ guide.title }}</a>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</article>

