---
layout: default 
title: "Skewb Notation"
sections:
  - title: 'Corners'
    moves:
      - image_url: 'svgs/notations-skewb/r.svg'
        letter: 'R'
      - image_url: 'svgs/notations-skewb/l.svg'
        letter: 'L'
      - image_url: 'svgs/notations-skewb/u.svg'
        letter: 'U'
      - image_url: 'svgs/notations-skewb/f.svg'
        letter: 'F'
      - image_url: 'svgs/notations-skewb/b.svg'
        letter: 'B'
  - title: 'Clockwise and Anti-clockwise'
    moves: 
      - image_url: 'svgs/notations-skewb/r.svg'
        letter: 'R'
      - image_url: 'svgs/notations-skewb/r-prime.svg'
        letter: "R'"
---
<article>
  <h1>{{ page.title }}</h1>
  {% include back_fab.html %}
  {% for section in page.sections %}
    <div class="section">
      <h3 class="section_header">{{ section.title }}</h3>
      <div class="moves">
        {% for move in section.moves %}
          {% include move.html image_url=move.image_url letter=move.letter %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</article>
