<div class="case">
  {% if include.number %}
    <h3>Case {{ include.number }}</h3> 
  {% else %}
    <h3>Only Case</h3> 
  {% endif %}
  <p class="description">{{ include.description }}</p>
  {% assign arr = "" | split: ',' %}
  {% assign arr = arr | push: include.phase_number %}
  {% assign arr = arr | push: include.section_number %}
  {% assign arr = arr | push: include.number %}
  {% assign image_name = arr | compact | join: '-' %}
  {% assign prefix = "svgs/" | append: include.guide_name | append: '/' %} 
  {% assign suffix = ".svg" %}
  <img src="{{ image_name | prepend: prefix | append: suffix | relative_url }}" class="diagram" />
  <p class="algorithm">
    <span class="text">{{ include.algorithm }}</span>
    <span class="show hidden">Show</span>
  </p>
</div>
