$background-main: #e0e0e0;
$background-secondary: #f0f0f0;
$background-focus: #c0c0c0;

$content-main: #400000;
$content-secondary: #606060;
$content-focus: #ff4500;
$content-focus-secondary: #a0a0ff;
$content-disabled: #c0c0c0;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Century Gothic", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-main;
  color: $content-main;
}

.wrapper {
  width: 100%;
}

.wrapper > * {
  max-width: 960px;
  margin: 0 auto;
}

.nav_wrapper {
  background-color: $content-main;
}

.divider {
  height: 0.5em;
  background: linear-gradient(to right, white 17%, blue 17%, blue 33%, orange 33%, orange 50%, green 50%, green 66%, yellow 66%, yellow 83%, red 83%, red 100%);
}

.main_wrapper {
  flex: 1;
}

.footer_wrapper {
  margin-top: 2em;
  background-color: $background-focus;
}

.tab_selector {
  list-style: none;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 10px;
}

.tab_selector a {
  color: $content-focus;
  padding: 0.5em 10px;
  margin: 0 10px;
  border-top: solid 1px $content-focus;
  border-bottom: solid 1px $content-focus;
}

.tab_selector a.current {
  background-color: $content-focus;
  color: $background-main;
}

.tab_selector a:hover {
  color: $background-main;
  background-color: $content-focus;
}

nav.top_level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav.top_level a {
  color: $background-main;
  padding: 1em 10px;
}

nav.top_level a:hover {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

// Remove nav page_links
article {
  padding: 0;
}

article h1 {
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
}

footer p {
  text-align: center;
  padding: 1em 0;
}

.subtitle {
  text-align: center;
  padding-bottom: 1em;
}

.puzzles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puzzle {
  background-color: $background-secondary;
  align-items: center;
  width: 300px;
  margin: 1em 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.puzzle h2 {
  padding: 0.5em 0;
}

.guides {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: $background-focus;
}

.guide a {
  background-color: $content-focus;
  color: $background-main;
  padding: 1em 0;
  border: solid 1px $content-focus;
}

.guide a:hover {
  color: $content-focus;
  background-color: $background-main;
}

.phase_header {
  background-color: $content-secondary; 
  color: $background-main; 
  padding: 0.5em 0em;
  margin: 0.5em 10px;
  text-align: center;
}

.section {
  padding: 0.5em 0;
}

.section_header {
  background-color: $content-focus-secondary;
  color: $content-main;
  padding: 0.5em 10px;
  margin: 1em 10px 0em;
  text-align: left;
}

.section_description {
  background-color: $background-secondary;
  padding: 1em 10px;
  margin: 0 10px 1em;
  text-align: left;
}

.cases {
  display: flex;
  overflow-x: scroll;
}

.case {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin: 0 10px;
  background-color: $background-secondary;
}

.case h3 {
  align-self: flex-start;
  padding: 0.5em 10px;
}

.case .description {
  padding: 0.5em 10px;
  color: $content-secondary;
}

.case .diagram {
  padding-bottom: 1em;
}

.algorithm {
  background-color: $background-focus;
  color: $content-main;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.algorithm > .algorithm_line {
  font-weight: bold;
  display: block;
  padding: 1em 0;
}

.algorithm .algorithm_list {
  list-style: none;
  background-color: $background-focus;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.algorithm_list .algorithm_line {
  padding: 0.5em 0;
}

.algorithm_list .algorithm_line:last-child {
  padding-bottom: 1em;
}

.algorithm .algorithm_line {
  width: 100%;
}

.algorithm .algorithm_line:hover {
  background-color: $content-focus;
}

.moves {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.move {
  flex: 0 0 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin: 1em 10px;
  background-color: $background-secondary;
}

.move .letter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-focus;
  color: $content-main;
  font-size: 2em;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.guide_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.guide_footer a {
  display: block;
  margin: 0 10px;
  padding: 1em 10px;
  text-align: center;
  color: $content-focus;
  background-color: $background-main;
  color: $content-focus;
}

.guide_footer a.disabled {
  color: $content-disabled;
  pointer-events: none;
}

.fab_link {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0; 
}

.fab_link a {
  display: block;
  color: $content-focus;
  background-color: $background-main;
  padding: 1em 10px;
}

