<!DOCTYPE html>
<html>
  <head>
    <title>Twisty Puzzle Guide - Guides to solving Twisty Puzzles</title>
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
    <script src="{{ 'assets/js/application.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="divider"></div>

    <div class="nav_wrapper wrapper">
      <nav class="top_level">
        <a href="{{ 'index.html' | relative_url }}" class="home_link">Twisty Puzzle Guide</a>
      </nav>
    </div>

    <div class="main_wrapper wrapper">
      {{ content }} 
    </div>

    <div class="footer_wrapper wrapper">
      <footer>
        <p>Twisty Puzzle Guide</p>
      </footer>
    </div>
  </body>
</html>

